body {
  background: #222222;
}

@font-face {
  font-family: digital;
  src: url('./Assets/digital-7\ \(mono\).ttf');
}

.clock {
  font-family: digital;
  font-size: 69px;
  color: #febd16
}

.cell {
  background: #febd16;
  border: 1px solid #000000;
  float: left;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 28px;
}

.one {
  color: #0f47af;
}

.two {
  color: #068930;
}

.three {
  color: #fcdd07;
}

.four {
  color: #da1219;
}

.five,
.six,
.seven,
.eight {
  color: purple;
}

.revealed {
  background: rgb(255, 123, 0);
}

.boom {
  background: #da1219;
}

.flagged {
  color: white;
}

.game {
  max-width: 430px;
  margin: 0 auto;
}

@media (min-width: 381px) and (max-width: 481px) {
  .cell {
    line-height: 40px;
    height: 40px;
    width: 40px;
    font-size: 25px;
  }

  .game {
    max-width: 350px;
  }
}

@media only screen and (max-width: 380px) {
  .cell {
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 20px;
  }

  .game {
    max-width: 290px;
  }
}